body{
    background-color: rgb(138, 191, 226); 
    animation-name:changebackground;
    animation-duration: 15s;
    animation-iteration-count:  infinite;
    }
    
    @keyframes changebackground{
      20%{
          background-color: rgb(140, 220, 220) ; 
      }
     30%{background-color: rgb(63, 165, 196) ; 
    
    }
     40%{
    background-color: rgb(64, 172, 211) ; 
     }
     50%{
      background-color: rgb(64, 145, 185) ; 
     }
     60%{
      background-color: rgb(57, 216, 216) ;
     }
     70%{
      background-color: rgb(25, 190, 231) ; 
     }
     80%{
      background-color: rgb(28, 153, 206) ; 
     }
     100%{
      background-color: aqua; 

     }
    }
.panel panel-info {
    background-color: rgb(185, 223, 228);
}